@model CommonModel
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="~/js/datagrid.js"></script>
<table id="grid1" class="table table-striped table-bordered jambo_table" style="width: 100%">
    <thead>
        <tr class="headings">
            <th class="column-title">ID</th>
            <th class="column-title">카테고리명</th>
            <th class="column-title">설명</th>
        </tr>
    </thead>
</table>
<table id="grid2" class="table table-striped table-bordered jambo_table" style="width: 100%">
    <thead>
        <tr class="headings">
            <th class="column-title">ID</th>
            <th class="column-title">카테고리명</th>
            <th class="column-title">설명</th>
        </tr>
    </thead>
</table>
<table id="grid3" class="table table-striped table-bordered jambo_table" style="width: 100%">
    <script>
        var dataSet = modelToData("@Model.GridTable.BindingData");
        var dataSet2 = modelToData("@Model.GridData");

        var gridData1 = "@Model.GridTable.GridData";
        var gridSetting1 = "@Model.GridTable.BindingSetting";
        GridDataBind(gridData1, gridSetting1);

        $(document).ready(function () {

            $('#grid2').DataTable({
                data: dataSet,
                lengthMenu: [
                    [5, 10, 20, -1],
                    ['5 rows', '10 rows', '20 rows', 'Show all']
                ],
            });

            $('#grid3').DataTable({
                data: dataSet2,
                scrollY: '400px',
                paging: false,
                columns: [
                    { title: 'ProductID' },
                    { title: 'ProductName' },
                    { title: 'QuantityPerUnit' },
                    { title: 'UnitPrice.' },
                    { title: 'UnitsInStock' },
                    { title: 'UnitsOnOrder' },
                ],
            });
        });
    </script>
